img
{
    height: 204px;

}

h1
{
    text-align: center;
}

button
{
    border-radius: 24px;
    padding: 8px; 
    background-color: aquamarine;
    font-family: monospace;
    border: none;
}

body
{
    background-color: rgb(70, 197, 38);
}